/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 1280px;
    margin: auto;
  }
  .wishlist {
    /* common properties */
    display: grid;

    /* this will change on breakpoints */
    grid-template-areas: 'card';
  }
  .wish {
    grid-area: card;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .wishlist {
    /* this will change on breakpoints */
    grid-template-areas: 'card card card card';
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .wishlist {
    /* this will change on breakpoints */
    grid-template-areas: 'card card card card card card';
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .wishlist {
    /* this will change on breakpoints */
    grid-template-areas: 'card card card card card card card card';
  }
}
